* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(133, 133, 133);

}

#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
}

#navigation {
    display: flex;
    gap: 10px;
    list-style: none;
    font-weight: bold;
    color: rgb(47, 58, 47)
}

#logo {
    height: 50px;
    width: 50px;
    margin: 0 5px 0 0;
}

#main-title {
    font-size: 46px;
    color: whitesmoke;
    text-align: center;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-shadow: 2px 5px 0 #000;
}

#title-yellow {
    color: rgb(209, 209, 22)
}

#title-green {
    color: rgb(65, 142, 65);
}

#game-feedback {
    text-align: center;
}

#word-board {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.word-row {
    display: flex;
}

.letter-card {
    border: 2px solid #000;
    background-color: rgb(110, 110, 110);
    padding: 25px;
    margin: 2px;
    height: 100px;
    width: 100px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    font-weight: bold;
    text-shadow: 2px 2px 0 #000;
    color: #ffffff;
}

#keyboard-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.key-button {
    padding: 30px;
    margin: 15px 0 0 0;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 2px 2px 0 #000;
    font-weight: bold;
    font-size: 16px;
}

.key-button:hover {
    background-color: #252525;
    color: white;
    cursor: pointer;
}

#delete-button {
    margin-left: 5px;
}

#enter-button {
    margin-right: 5px;
}

#delete-button:hover {
    background-color: rgb(224, 56, 56);
}

#enter-button:hover {
    background-color: rgb(59, 102, 138);
}