* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(51, 51, 51);
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    color: white;
}
#title-logo-container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
#landing-page-title{
    font-size: 80px;
    line-height: 5px;
    -webkit-text-stroke: 3px rgb(74, 74, 74);
    text-shadow: 10px 5px 10px #000; 
}
#play-button{
    padding: 20px;
    font-size: 36px;
    font-weight: 700;
    width: 50%;
    border: 3px #999999 solid;
    border-radius: 10px;
    background-color: #494949;
    box-shadow: 2px 2px 10px #3e3e3e;
    color: white;
}
#play-button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 10px #626262;
    border: 3px #fdfdfd solid;
    background-color: #878787;
}
#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(24, 24, 24);
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(82, 82, 82);
}

#navigation {
    display: flex;
    gap: 20px;
    list-style: none;
    font-weight: bold;
}

#logo {
    height: 50px;
    width: 50px;
    margin: 0 5px 0 0;
}

#logo:hover{
    cursor: pointer;
}

#main-title {
    font-size: 24px;
    color: whitesmoke;
    text-align: center;
    margin: 0;
    text-shadow: 2px 5px 10px #000;
}

#show-tutorial {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 24px;
    /* text-shadow: 2px 5px 10px #000; */
}

#navigation li:hover {
    cursor: pointer;
    color: #999999;
}

#title-yellow {
    color: rgb(209, 209, 22)
}

#title-green {
    color: rgb(65, 142, 65);
}

#game-feedback {
    font-size: 24px;
    text-align: center;
    color: #ffffff;
}

#word-board {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.word-row {
    display: flex;
}

h2 {
    text-align: center;
}

.letter-card {
    border: 1px solid rgb(7, 7, 7);
    border-radius: 5px;
    background-color: #555555;
    padding: 25px;
    margin: 4px;
    height: 100px;
    width: 100px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    font-weight: bold;
    text-shadow: 2px 2px 0 #000;
    transition: background-color 0.5s ease;
    color: #ffffff;
}

#keyboard-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 10px 0;
}

.key-button {
    margin: 5px 0 0 0;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #000;
    font-weight: bold;
    font-size: 20px;
    line-height: 0px;
    color: #ffffff;
    background-color: #555555;
    transition: background-color 0.5s ease;
    width: 80px;
    height: 80px;
}

.key-button:hover {
    background-color: #797979;
    cursor: pointer;
}

#delete-button {
    width: 150px;
}

#enter-button {
    width: 150px;
}

#delete-button:hover {
    background-color: rgb(224, 56, 56);
}

#enter-button:hover {
    background-color: rgb(49, 115, 168);
}

#game-tutorial-container {
    display: none;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(20, 20, 20, 0.4); 
    z-index: 1;
}

#tutorial-card {
    position: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 43, 43);
    color: white;
    width: 550px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #000;
    z-index: 1;
    text-align: left;
}

#tutorial-controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    line-height: 0;
    padding: 10px;
}

#exit-tutorial {
    border: 1px solid #ffffff;
    background-color: rgb(107, 107, 107);
    color: #ffffff;
    border-radius: 30%;
    width: 25px;
    height: 25px;
    transition: background-color 0.5s ease;
    line-height: 0;
    font-weight: bold;
}

#exit-tutorial:hover {
    background-color: rgb(255, 87, 87);
    cursor: pointer;
}

.example-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.example-lettercard {
    border: 2px solid #000;
    border-radius: 5px;
    background-color: rgb(102, 102, 102);
    margin: 0 1px;
    height: 50px;
    width: 50px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    text-shadow: 2px 2px 0 #000;
    transition: background-color 0.5s ease;
    color: #ffffff;
}

.absent {
    background-color: rgb(18, 18, 19);
}

.correct {
    background-color: rgb(83, 141, 78);
}

.present {
    background-color: rgb(181, 159, 59);
}

#game-info-container {
    display: none;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(20, 20, 20, 0.4); 
    z-index: 1;
}

#game-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#reset-game {
    margin: 0 auto;
    padding: 20px;
    font-size: 24px;
    border: 1px #999999 solid;
    border-radius: 10px;
    background-color: #494949;
    box-shadow: 2px 2px 10px #3e3e3e;
    color: white;
}

#reset-game:hover {
    box-shadow: 2px 2px 10px #626262;
    cursor: pointer;
    background-color: #878787;
    border: 3px #fdfdfd solid;
}

